<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
    <link rel="stylesheet" href="../src/css/pilotos.css">
</head>
<body>
    <header>
    <div class="title">F1 Drivers 2025</div>
    <div class="subtitle"><p>Consulta la alineación oficial de F1 de esta temporada. Desglose completo de pilotos, puntos y posiciones actuales. Sigue a tus pilotos favoritos de F1 dentro y fuera de la pista.
    </p></div>
</header>
    <div class="container">
        <div class="drivers mclaren">
            <img src="" alt="" class="piloto">
            <p class="marca">McLaren</p>
        </div>
        <div class="drivers mclaren">
            <img src="" alt="" class="piloto">
            <p class="marca">McLaren</p>
        </div>
        <div class="drivers redbull">
            <img src="" alt="" class="piloto">
            <p class="marca">Red Bull Racing</p>
        </div>
        <div class="drivers mercedes">
            <img src="" alt="" class="piloto">
            <p class="marca">Mercedes</p>
        </div>
        <div class="drivers ferrari">
            <img src="" alt="" class="piloto">
            <p class="marca">Ferrari</p>
        </div>
        <div class="drivers mercedes">
            <img src="" alt="" class="piloto">
            <p class="marca">Mercedes</p>
        </div>
        <div class="drivers ferrari">
            <img src="" alt="" class="piloto">
            <p class="marca">Ferrari</p>
        </div>
        <div class="drivers williams">
            <img src="" alt="" class="piloto">
            <p class="marca">Williams</p>
        </div>
        <div class="drivers haas">
            <img src="" alt="" class="piloto">
            <p class="marca">Haas</p>
        </div>
        <div class="drivers astonmartin">
            <img src="" alt="" class="piloto">
            <p class="marca">Aston Martin</p>
        </div>
        <div class="drivers alpine">
            <img src="" alt="" class="piloto">
            <p class="marca">Alpine</p>
        </div>
        <div class="drivers kick">
            <img src="" alt="" class="piloto">
            <p class="marca">Kick Sauber</p>
        </div>
        <div class="drivers haas">
            <img src="" alt="" class="piloto">
            <p class="marca">Haas</p>
        </div>
        <div class="drivers racing">
            <img src="" alt="" class="piloto">
            <p class="marca">Racing Bulls</p>
        </div>
        <div class="drivers williams">
            <img src="" alt="" class="piloto">
            <p class="marca">Williams</p>
        </div>
        <div class="drivers redbull">
            <img src="" alt="" class="piloto">
            <p class="marca">Red Bull Racing</p>
        </div>
        <div class="drivers astonmartin">
            <img src="" alt="" class="piloto">
            <p class="marca">Aston Martin</p>
        </div>
        <div class="drivers racing">
            <img src="" alt="" class="piloto">
            <p class="marca">Racing Bulls</p>
        </div>
        <div class="drivers alpine">
            <img src="" alt="" class="piloto">
            <p class="marca">Alpine</p>
        </div>
        <div class="drivers kick">
            <img src="" alt="" class="piloto">
            <p class="marca">Kick Sauber</p>
        </div>
    </div>
    <script>
        function selectCharacter(el) {
          document.querySelectorAll('.character').forEach(c => c.classList.remove('selected'));
          el.classList.add('selected');
        }
      </script>
</body>
</html>