<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
    <link rel="stylesheet" href="../src/css/pilotos.css">
</head>
<body>
    <header>
    <div class="title">F1 Drivers 2025</div>
    <div class="subtitle"><p>Consulta la alineación oficial de F1 de esta temporada. Desglose completo de pilotos, puntos y posiciones actuales. Sigue a tus pilotos favoritos de F1 dentro y fuera de la pista.
    </p></div>
</header>
    <div class="container">
        <div class="drivers mclaren"></div>
        <div class="drivers mclaren"></div>
        <div class="drivers redbull"></div>
        <div class="drivers mercedes"></div>
        <div class="drivers ferrari"></div>
        <div class="drivers mercedes"></div>
        <div class="drivers ferrari"></div>
        <div class="drivers williams"></div>
        <div class="drivers haas"></div>
        <div class="drivers astonmartin"></div>
        <div class="drivers alpine"></div>
        <div class="drivers kick"></div>
        <div class="drivers haas"></div>
        <div class="drivers racing"></div>
        <div class="drivers williams"></div>
        <div class="drivers redbull"></div>
        <div class="drivers astonmartin"></div>
        <div class="drivers racing"></div>
        <div class="drivers alpine"></div>
        <div class="drivers kick"></div>
    </div>
    <script>
        function selectCharacter(el) {
          document.querySelectorAll('.character').forEach(c => c.classList.remove('selected'));
          el.classList.add('selected');
        }
      </script>
</body>
</html>