<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../src/css/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="shape">
            <div class="image"></div>
        </div>
    <button class="up">
        <div class="flecha">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
    </button>
    <div class="account">
        <p class="name">Nombre</p>
        <p class="user">User</p>
        <p class="email">juanmeneses@gmail</p>
        <p class="year">27-05-2008</p>
        <button class="edit">Editar usuario <i class="fa-solid fa-pen"></i></button>
    </div>
</div>
</body>
</html>